APP_NAME=tallie
BRAND_NAME=tallie
PORT=3000
NODE_ENV=development

DB_HOST = 127.0.0.1
DB_PORT = 3306
DB_USER = root
DB_PASSWORD = 
DB_NAME = tallie
DB_POOL_MIN = 1
DB_POOL_MAX = 10

REDIS_PORT=6379
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=foobared

